<section aria-labelledby="explanation-banner">
  <div class="explanation-banner subtitle">Find out the results of your favorite matches in this crazy tournament!</div>
</section>

<section aria-labelledby="match-list" class="match-container">
  <div class="time-filter">
    @for (filter of timeFilterOptions; track filter.value) {
    <app-button
      [mode]="isSelected(filter.value) ? 'primary' : 'secondary'"
      (clicked)="onTimeFilterClick(filter.value)"
      [attr.aria-label]="filter.ariaLabel"
    >
      {{ filter.label }}
    </app-button>
    }
  </div>

  <div class="match-list">
    <div class="list-element">
      <span class="match-status light-text">20:30</span>
      <div class="score-container bold-text">
        <div class="team-container first-team">
          <span class="team-name">Baltimore</span>
        </div>
        <span class="separator">-</span>
        <div class="team-container second-team">
          <span class="team-name">Toronto</span>
        </div>
      </div>
    </div>

    <div class="list-element in-progress">
      <span class="match-status light-text">30'</span>
      <div class="score-container bold-text">
        <div class="team-container first-team">
          <span class="team-name">Tempa Bay</span>
        </div>
        <span class="separator">-</span>
        <div class="team-container second-team">
          <span class="team-name">Yankees N.Y.</span>
        </div>
      </div>
    </div>

    <div class="list-element finished">
      <span class="match-status light-text">TERMINÉ</span>
      <div class="score-container bold-text">
        <div class="team-container first-team">
          <span class="team-name">Boston</span>
        </div>
        <span class="separator">6 - 7</span>
        <div class="team-container second-team">
          <span class="team-name">Toronto</span>
        </div>
      </div>
    </div>
  </div>
</section>
