header {
  background-color: var(--very-dark);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.75rem;

  .site-link {
    color: var(--white);
    text-decoration: none;

    &:visited {
      color: var(--white);
    }

    text-decoration: none;
    &:visited {
      text-decoration-color: none;
    }

    .site-title {
      display: flex;
      align-items: center;
      gap: 0.6rem;

      img {
        width: 38px;
        height: 38px;
        margin-right: 1rem;
      }

      h1 {
        display: none;
      }

      @media (min-width: 768px) {
        img {
          width: 60px;
          height: 60px;
        }

        h1 {
          display: inline;
          font-size: var(--font-title-desktop);
        }
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 40rem;
    a {
      gap: 0.6rem;
      text-decoration: none;
      color: var(--white);

      &.active {
        color: var(--very-light);
        font-weight: var(--font-weight-semibold);
      }
    }
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 3rem;

    img.login-icon {
      width: 29px;
      height: 29px;
    }

    @media (min-width: 768px) {
      img.login-icon {
        width: 34px;
        height: 34px;
      }
    }

    .login-text {
      text-align: center;
    }
  }

  @media (min-width: 768px) {
    height: 3.125rem;
  }
}
