<section aria-labelledby="page-subtitle">
  <div class="page-subtitle subtitle">Here you can enter the scores for each match.</div>
</section>

<form [formGroup]="matchesForm" (ngSubmit)="onSubmit()">
  <div class="submit-container">
    <app-button mode="primary" type="submit" [isDisabled]="matchesForm.invalid || matchesForm.pristine">Save changes</app-button>
    @if(validationMessage()) {
    <p class="validation-message light-text">{{ validationMessage() }}</p>
    }
  </div>

  <div class="match-list">
    @for (match of matches(); track match.id) {
    <app-match-update [match]="match" [formGroup]="getMatchFormGroup(match)" />
    } @empty {
    <div class="list-element bold-text">There are no matches.</div>
    } @if (errorMessage()) {
    <div class="error-message">{{ errorMessage() }}</div>
    }
  </div>
</form>
