.submit-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}

.match-container {
  background-color: var(--very-dark);

  .match-list {
    display: flex;
    flex-direction: column;
  }
}
