.score-header {
  background-color: var(--very-dark-80);
}
.score-content {
  justify-content: space-around;
  background-color: var(--very-dark-60);
  height: auto;

  .separator {
    width: 2.5rem;
    margin: 0;
    transform: rotate(90deg);
  }

  div {
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    gap: 0.7rem;

    .input-field {
      width: 30px;
      padding: 0.4rem;
      &[type="text"] {
        font-size: var(--font-text-desktop);
      }
    }

    @media screen and (max-width: 768px) {
      .input-field {
        &[type="text"] {
          font-size: var(--font-text-mobile);
        }
      }
    }

    p {
      margin: 0;
      text-align: center;
    }
  }
}
