<div class="login-container">
  <img ngSrc="/icons/authent-with-circle.svg" alt="Authentication logo" width="72" height="72" priority />

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    @let nameControl = loginForm.controls.name; @let passwordControl = loginForm.controls.password; @if (errorMessage) {
    <div class="error-message">{{ errorMessage }}</div>
    }
    <div class="input-container">
      @let showNameError = nameControl.invalid && (nameControl.touched || nameControl.dirty);
      <label class="input-label bold-text" for="name">Name</label>
      <img src="/icons/authent-without-circle.svg" alt="Login icon" class="icon" />
      <input
        formControlName="name"
        type="text"
        id="name"
        class="input-field light-text"
        [ngClass]="{ error: showNameError }"
        placeholder="Enter your name"
        aria-describedby="nameError"
        [attr.aria-invalid]="showNameError"
        aria-live="assertive"
      />
      @if (nameControl.invalid && (nameControl.touched || nameControl.dirty)) {
      <p id="nameError" class="error-message light-text">Name is required.</p>
      }
    </div>

    <div class="input-container">
      @let showPasswordError = passwordControl.invalid && (passwordControl.touched || passwordControl.dirty);
      <label class="input-label bold-text" for="password">Password</label>
      <img src="/icons/locker.svg" alt="Password icon" class="icon" />
      <input
        formControlName="password"
        type="password"
        id="password"
        class="input-field light-text"
        [ngClass]="{ error: showPasswordError }"
        placeholder="Enter your password"
        aria-describedby="passwordError"
        [attr.aria-invalid]="showPasswordError"
        aria-live="assertive"
      />
      @if (passwordControl.invalid && (passwordControl.touched || passwordControl.dirty)) {
      <p id="passwordError" class="error-message light-text" role="alert">Password is required.</p>
      }
    </div>

    <div class="button-container">
      <app-button mode="secondary" (clicked)="onCancel()" aria-label="Cancel">Cancel</app-button>
      <app-button type="submit" (clicked)="onSubmit()" aria-label="Login">Login</app-button>
    </div>
  </form>
</div>
