.input-container {
  position: relative;

  .icon {
    position: absolute;
    left: 0.7rem;
    top: 2.3rem;
    width: 16px;
    height: 20px;

    @media screen and (width > 768px) {
      top: 2.8rem;
    }
  }

  .input-field {
    padding: 0.8rem;
    border: none;
    background-color: var(--dark);
    color: var(--white);
    padding-left: 2.5rem;

    &:focus-visible {
      outline: 3px solid var(--light);
      outline-offset: 2px;
    }

    &[aria-invalid="true"] {
      outline: 3px solid var(--red);
    }
  }

  .input-label {
    font-weight: var(--font-weight-semibold);
    margin-bottom: 0.7rem;
    display: block;
    color: var(--white);
    margin-top: 1rem;
  }
}
