main {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  // min-height: calc(100vh - 9.75rem);

  /* Responsive container */
  .content-wrapper {
    max-width: 1200px;
    // Allows responsive width
    width: 100%;
    // Centers the content
    margin: 0 auto;
    padding: 0;
  }
}

/* Responsive adjustments */
@media (min-width: 768px) {
  main {
    // min-height: calc(100vh - 8.75rem);
    padding: 1rem;
    .content-wrapper {
      padding: 2rem;
    }
  }
}

@media (min-width: 1200px) {
  main .content-wrapper {
    padding: 3rem;
  }
}

footer {
  background-color: var(--very-dark);
  margin-top: 2rem;
  color: var(--white);
  padding: 1em;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}
